<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola papito aca ta el catalogo</h1>
    NOMBRE PRODUCTO: <span th:text="${productos.nombre_producto}"> nombre</span>
    DESCRIPCION PRODUCTO: <span th:text="${productos.precio}"> descripcion</span>
    PRECIO PRODUCTO: <span th:text="${productos.descripcion}">precio</span>
</body>
</html>