<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div>
            <a class="logo" href="/">
                <img class="imagen-logo" src="../static/images/logo.jpg" alt="logo petshop">
            </a>
        </div>
        <nav>
            <ul class="navegacion">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/catalogo.html">Catalogo</a></li>
                <li><a href="/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>

    </header>

    <main> 
         
        <img class="imagen-equipo" src="../static/images/team.svg" alt=""> 
       
        <H2>Nuestro proposito</H2> 
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe iure a dolorum, veritatis neque explicabo officiis ad sed hic sit ipsum, nobis, qui cum quibusdam? Tempora, reprehenderit. Quaerat, aspernatur hic!</p> 
        <h2>Misión</h2> 
        <p class="texto" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quos minima officia eius odio delectus laboriosam voluptatibus consectetur sit! Aut tenetur accusamus dignissimos suscipit nostrum similique nesciunt doloribus voluptatum veniam!</p> 
        <h2>Visión</h2> 
        <p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quis, ea est similique nostrum corporis repudiandae. Quod totam nesciunt at culpa animi tenetur beatae porro quas saepe, dignissimos, reprehenderit quam.</p> 
 
    </main> 
</body>
</html>