<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div>
            <a class="logo" href="/">
                <img class="imagen-logo" src="../static/images/logo.jpg" alt="logo petshop">
            </a>
        </div>
        <nav>
            <ul class="navegacion">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/catalogo.html">Catalogo</a></li>
                <li><a href="/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>

    </header>

    <main> 
         
        <img class="imagen-equipo" src="../static/images/team.svg" alt=""> 
       
        <H2>Nuestro proposito</H2> 
        <p style="text-align: justify;">El propósito de PetShop es promover la felicidad y el bienestar de las mascotas al ofrecer alimentos de calidad y servicios relacionados. Su objetivo principal es ir más allá de ser una simple tienda en línea de comida para mascotas, buscando contribuir al bienestar general de las mascotas. Para lograrlo, proporcionan una selección cuidadosamente curada de alimentos saludables, adaptados a las necesidades individuales de cada mascota. Buscan ser un recurso confiable para los dueños de mascotas, ofreciendo una experiencia de compra excepcional, servicio al cliente personalizado y amigable. En resumen, el propósito de PetShop es promover la felicidad y el bienestar de las mascotas y sus dueños, ofreciendo alimentos de calidad, conocimientos útiles y un servicio excepcional. </p> 
        <h2>Misión</h2> 
        <p style ="text-align: justify;" >La misión de PetShop es mejorar la calidad de vida de las mascotas al proporcionar alimentos 
            saludables y de alta calidad a través de su plataforma en línea. Se comprometen a ofrecer una amplia 
            selección de alimentos para perros y gatos, seleccionados cuidadosamente de 
            marcas confiables. Su objetivo es brindar comodidad a los dueños de mascotas al facilitar la experiencia 
            de compra en línea con una navegación intuitiva y un servicio al cliente excepcional.Nuestra pasión por las mascotas 
            impulsa el compromiso de marcar una diferencia positiva en la vida de los dueños de mascotas y sus compañeros peludos.</p> 
        <h2>Visión</h2> 
        <p style="text-align: justify;">La visión de PetShop es convertirse en la tienda en línea líder en la venta de comida para mascotas, ofreciendo una experiencia excepcional para los amantes de los animales en todo el mundo. Su objetivo es ser reconocidos como el destino preferido para adquirir alimentos de calidad para mascotas, brindando una amplia selección de marcas premium y opciones especializadas. Su plataforma en línea se destacará por su conveniencia, confianza y servicio al cliente de excelencia. Además, buscarán mantenerse actualizados con las últimas tendencias en nutrición animal, ofreciendo productos innovadores y saludables. En resumen, su visión es establecerse como líderes en el mercado, ganar la confianza de los clientes y marcar una diferencia positiva en la vida de las mascotas y sus dueños.</p> 
 
    </main> 

    <footer class = "footer">
    
        <div class="container">

            <div class="footer-row">

                <div class="footer-links">

                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="#" style="font-family: Arial, sans-serif; font-size: 16px;">Correo: petshop@gmail.com</a></li>
                        <li><a href="#" style="font-family: Arial, sans-serif; font-size: 16px;">Direccion: Calle 21N #3-25 Niza, Cúcuta, Colombia</a></li>
                    </ul>

                </div>
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-link">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>

                    </div>

                </div>
            </div>

        </div>

        <!-- <img src="images/footer-foto.jpg" alt="imagen-pie-de-foto"> -->
    </footer>
      

</body>
</html>